
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">The Hacking Project</h1>
            <h2 class="masthead-subheading mb-0">3 mois pour coder ton produit tech !</h2>

            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
                Voir une journée type
            </button>
        </div>
    </div>
</header>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reçois par mail un exemple de cours !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                    <form action="https://thehackingproject.us17.list-manage.com/subscribe/post?u=2bcffce7edf2538e9e8563ed3&amp;id=005ac71f11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <label for="mce-EMAIL"> Ton addresse e-mail</label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2bcffce7edf2538e9e8563ed3_005ac71f11" tabindex="-1" value=""></div>
                            <div class="clear">
                                <input type="submit" value="Obtenir le contenu exclusif" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
                        </div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>
                    (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);
                </script>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <br>
                <h2 class="display-4 text-center">Ils en parlent…</h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-4">
                    <img class="img-fluid img-thumbnail" src= "<%= image_url('Maddyness.png') %>" alt="Extrait Maddyness">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-6">Parution Madyness</h2>
                    <p><em>"Aucune condition particulière pour se former, les fondateurs veulent de la mixité. Les élèves peuvent donc avoir en 17 et 65 ans et savoir parler un peu anglais. Motivation, curiosité et détermination sont les clés du succès pour réussir dans cette formation. L’élève doit être disponible pendant 11 semaines pour apprendre."</em></p>
                    <p><strong>|</strong> Paru le 5 septembre 2017</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid img-thumbnail" src= "<%= image_url('Les_echos.png') %>" alt="Extrait Les Échos">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-6">Les Échos en parle</h2>
                    <p><em>"Sur les conseils d’un ami, je m’inscris à The Hacking Project, un bootcamp qui paraît être en accords avec mes valeurs et mon parcours : aucun diplôme requis, self et peer-learning, aspect communautaire très fort et en plus gratuit.[…] J’ai maintenant un MVP fonctionnel pour ma startup Studiomatic ainsi qu’une nouvelle compétence de développeur web me permettant de continuer à développer moi-même mon produit."</em></p>
                    <p><strong>|</strong> Paru le 19 Janvier 2018</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid img-thumbnail" src= "<%= image_url('Cremedelacreme.png') %>" alt="Extrait Crême de la crême">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-6">Même la crême de la crême</h2>
                    <p><em>"En 11 semaines, les élèves apprennent des bases solides du développement full stack : HTML / CSS / JavaScript / jQuery / Ruby / Rails / SQL. Ainsi, ils seront capables de recréer un clone de Airbnb, manipuler des datas, scrapper des sites internet, ou faire des Facebook bots. En fin de formation les élèves réalisent un projet final, mettant en pratique les compétences acquises (une idée de start-up par exemple)."</em></p>
                    <p><strong>|</strong> Paru le 13 Juin 2017</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h2 class="display-4 text-center">ILS ONT TOUS NOTÉ THP 5 ⭐</h2>
            </div>
            <div class="col-lg-12 text-center">
                <img class="img-fluid img-thumbnail" src= "<%= image_url('Avis_Anthony.png') %>" alt="Avis_Anthony">
            </div>
            <div class="col-lg-12 text-center">
                <img class="img-fluid img-thumbnail" src= "<%= image_url('Avis_Isa.png') %>" alt="Avis_Isa">
            </div>
            <div class="col-lg-12 text-center">
                <img class="img-fluid img-thumbnail" src= "<%= image_url('Avis_Vince.png') %>" alt="Avis_Vince">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="p-4">
                    <h3 class="display-4">
                        Les points clés de la formation 👉
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-0.3.5&s=45f8c3eaac278c1c62ab0ec11c65cebf&auto=format&fit=crop&w=1050&q=80"  alt="">
                    <div class="card-body">
                        <h4 class="card-title display-6">
                            Cursus full stack 💻
                        </h4>
                        <ul class="card-text">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>JQuery</li>
                            <li>Ruby</li>
                            <li>Ruby on Rails</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1494707924465-e1426acb48cb?ixlib=rb-0.3.5&s=06a3576d1ba3e5a1246005e8cc79798b&auto=format&fit=crop&w=1050&q=80" alt="">
                    <div class="card-body">
                        <h4 class="card-title display-6">
                            Utilise les outils des meilleures startups 🚀
                        </h4>
                        <ul class="card-text">
                            <li>Heroku</li>
                            <li>GitHub</li>
                            <li>Stripe</li>
                            <li>MailChimp</li>
                            <li>Algolia</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src= "https://images.unsplash.com/photo-1493689485253-f07fcbfc731b?ixlib=rb-0.3.5&s=5dd7fc7b1d80befa2304b2640c848ac9&auto=format&fit=crop&w=1033&q=80"  alt="">
                    <div class="card-body">
                        <h4 class="card-title display-6">
                             Communauté composée de profils variés 🌍
                        </h4>
                        <ul class="card-text">
                            <li>Ingenieur</li>
                            <li>Designer</li>
                            <li>Juriste</li>
                            <li>Marketing</li>
                            <li>Sales</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <button type="button" class="btn btn-primary  btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
            En savoir plus
          </button>
            </div>
        </div>
    </div>
    <br>
</section>
<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">© 2018, Made with ❤️ in France.</p>
    </div>
</footer>

<!-- begin olark code -->
<script type="text/javascript" async> ;(function(o,l,a,r,k,y){if(o.olark)return; r="script";y=l.createElement(r);r=l.getElementsByTagName(r)[0]; y.async=1;y.src="//"+a;r.parentNode.insertBefore(y,r); y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)}; y.extend=function(i,j){y("extend",i,j)}; y.identify=function(i){y("identify",k.i=i)}; y.configure=function(i,j){y("configure",i,j);k.c[i]=j}; k=y._={s:[],t:[+new Date],c:{},l:a}; })(window,document,"static.olark.com/jsclient/loader.js");
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('4577-267-10-5127');</script>
<!-- end olark code -->
